<link rel="stylesheet" href="/css/student_profile.css">
<div class="main-page">
<form>
<div><img src="/images/profile.png"></div>
<hr>

<div class="row">
    <div class="col-6"><label>Name:</label></div>
    <div class ="col-6"><%=data.name%></div>
</div>
<div class="row">
    <div class="col-6"><label>Email:</label></div>
    <div class ="col-6"><%=data.email%></div>
</div>
<div class="row">
    <div class="col-6"><label>College_name:</label></div>
    <div class ="col-6"><%=data.College_name%></div>
</div>
<div class="row">
    <div class="col-6"><label>Course:</label></div>
    <div class ="col-6"><%=data.Course%></div>
</div>
<div class="row">
    <div class="col-6"><label>Branch:</label></div>
    <div class ="col-6"><%=data.Branch%></div>
</div>
<div class="row">
    <div class="col-6"><label>Phone_no:</label></div>
    <div class ="col-6"><%=data.Phone_no%></div>
</div>
<div class="row">
    <div class="col-6"><label>Batch_no:</label></div>
    <div class ="col-6"><%=data.Batch_no%></div>
</div>
<div class="row">
    <div class="col-6"><label>Dsa_score:</label></div>
    <div class ="col-6"><%=data.Dsa_score%></div>
</div>
<div class="row">
    <div class="col-6"><label>Web_score:</label></div>
    <div class ="col-6"><%=data.Web_score%></div>
</div>
<div class="row">
    <div class="col-6"><label>React_score:</label></div>
    <div class ="col-6"><%=data.React_score%></div>
</div>
<hr>
<h1>INTERVIEW</h1>
<div class="row">
    <div class="col-6"><label>Campany_name:</label></div>
    <div class ="col-6"><%=data.Campany_name%></div>
</div>
<div class="row">
    <div class="col-6"><label>Date:</label></div>
    <div class ="col-6"><%=data.Date%></div>
</div>
<div class="row">
    <div class="col-6"><label>Status:</label></div>
    <div class ="col-6"><%=data.Status%></div>
</div>

</form></div>