<link rel="stylesheet" href="/css/student_profile.css">
<div class="main-page">
<form>
<div><img src="/images/profile.png"></div>
<hr>
<%for(var i=0;i<data.length;i++){%>
<div class="row">
    <div class="col-6"><label>Name:</label></div>
    <div class ="col-6"><%=data[i].name%></div>
</div>
<div class="row">
    <div class="col-6"><label>Email:</label></div>
    <div class ="col-6"><%=data[i].email%></div>
</div>
<div class="row">
    <div class="col-6"><label>College_name:</label></div>
    <div class ="col-6"><%=data[i].College_name%></div>
</div>
<div class="row">
    <div class="col-6"><label>Course:</label></div>
    <div class ="col-6"><%=data[i].Course%></div>
</div>
<div class="row">
    <div class="col-6"><label>Branch:</label></div>
    <div class ="col-6"><%=data[i].Branch%></div>
</div>
<div class="row">
    <div class="col-6"><label>Phone_no:</label></div>
    <div class ="col-6"><%=data[i].Phone_no%></div>
</div>
<div class="row">
    <div class="col-6"><label>Batch_no:</label></div>
    <div class ="col-6"><%=data[i].Batch_no%></div>
</div>
<div class="row">
    <div class="col-6"><label>Dsa_score:</label></div>
    <div class ="col-6"><%=data[i].Dsa_score%></div>
</div>
<div class="row">
    <div class="col-6"><label>Web_score:</label></div>
    <div class ="col-6"><%=data[i].Web_score%></div>
</div>
<div class="row">
    <div class="col-6"><label>React_score:</label></div>
    <div class ="col-6"><%=data[i].React_score%></div>
</div>
<hr>
<h1>INTERVIEW</h1>
<div class="row">
    <div class="col-6"><label>Campany_name:</label></div>
    <div class ="col-6"><%=data[i].Campany_name%></div>
</div>
<div class="row">
    <div class="col-6"><label>Date:</label></div>
    <div class ="col-6"><%=data[i].Date%></div>
</div>
<div class="row">
    <div class="col-6"><label>Status:</label></div>
    <div class ="col-6"><%=data[i].Status%></div>
</div>
<%}%>
</form></div>